@{
    ViewData["Title"] = "Cadastro Desenvolvedor";
    List<Business.Report.Level> levels = ViewBag.Listas;
}

<!DOCTYPE html>
<html>
<head>
    <title>Cadastro Desenvolvedor</title>
    <link rel="stylesheet" type="text/css" href="~/css/Reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
</head>
<body class="body">

    <header>
        <h1 class="titulo-pagina">Cadastro Desenvolvedor</h1>
    </header>

    <form class="form">
        <div>
            <label for="nome" class="label">Nome:</label>
            <input type="text" id="nome" class="input-padrao" required />

            <label for="email" class="label">Email:</label>
            <input type="email" id="email" class="input-padrao" required />

            <fieldset>
                <legend class="label">Selecione o nível</legend>
                <select class="fieldset-select">
                    @foreach (var item in levels)
                    {
                        <option>@item.Descricao</option>
                    }
                </select>
            </fieldset>

            <label for="horas-trabalhadas" class="label">Horas trabalhadas no mês:</label>
            <input type="number" id="horas-trabalhadas" class="input-padrao" required placeholder="100" />

            <input type="submit" value="Salvar" class="salvar" />
        </div>
    </form>
</body>
</html>

