@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Desenvolvedores</title>

    <link rel="stylesheet" type="text/css" href="~/css/Reset.css">
    <link rel="stylesheet" type="text/css" href="~/css/Style.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">

</head>
<body class="body">

    <header>
        <h1 class="titulo-pagina">Sistema Cad Dev</h1>
    </header>

    <main>

    </main>

</body>
</html>
