body {
    font-family: 'Montserrat', sans-serif;
    background: #808080;
}

header {
    padding: 20px 0;
}

.titulo-pagina {
    width: 940px;
    margin: 0 auto;
    font-size: 2em;
    text-align: center;
    font-weight: bold;
}

.form {
    width: 940px;
    padding: 1em;
    margin: 2em auto;
    padding: 20px;
    text-align: center;
}

.input-padrao {
    display: block;
    margin: 1em auto;
    padding: 15px 15px;
    width: 25%;
}

.label {
    display: block;
    margin: 1em auto;
    font-size: 20px;
    font-weight: bold;
}

.fieldset-select {
    display: block;
    margin: 0 auto;
    padding: 15px 15px;
    width: 20%;
}

.copyright {
    padding: 30em 0;
    text-align: center;
}

.salvar {
    width: 20%;
    padding: 15px 0;
    background: green;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    transition: 1s all;
    cursor: pointer;
    margin: auto;
}

    .salvar:hover {
        background: darkgreen;
        transform: scale(1.2);
    }

/*Tela de Relatório de Desenvolvedores*/
table, th, td {
    border: 1px solid black;
}
